{# not defined, so user can: #}
{%- extends "bib_domain/html/layout.jinja" %}
{% import "bib_domain/html/entry.jinja" as entryT %}

{% block body %}

  {% if entries  %}

    <h1>{{ title }}</h1>

    {% for entry in entries %}
      {{ entryT.Entry(entry) }}

    {% endfor %}

  {% else %}

    {{ body }}

  {% endif %}

{% endblock %}
